@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  ;
}

body{
  background: #2C2285
}
ul {
  list-style-type: none;
}
.van{
  color: #f086a9;
  font-size: 3rem;
  font-weight: bolder;
  position: relative;
  left: 50px;
  top: 50px;

}
/* a{
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  position: relative;
  top:5px; */

a{
  color:#edebff;
  text-decoration: none;
}
.hiring{
  color:#dddaff;
  position: absolute;
  font-size:1.5rem;
  font-weight: 500;
  top: 275px;
  left: 50px;
  

}
.bio{
  color: #d2cff0;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2rem;
  position: absolute;
  top:200px;
  left: 50px;
  right: 500px;

}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;

}

.btn:hover {
  background: #5b519a;
  color: #fff;
  transition: 0.3s;
}
